<div class="row"><div class="col-xs-12">
  <div
    [ngClass]="{in: !hidden}"
    class="alert alert-success fade"
    style="padding:7px 20px;"
  >
    <i class="fa fa-power-off">&nbsp;</i> {{ msg }}
  </div>
</div>
</div>
