<div class="row">
  <div class="col-xs-7">
    <input
      id="serverInput"
      type="text"
      class="form-control col-xs-12"
      placeholder="Enter server name"
      style="padding-left: 35px;"
      [(ngModel)]="name"
    >
    <i class="fa fa-server" style="position: relative; top:-26px; left:15px;opacity: 0.4;"></i>
  </div>
  <div class="col-xs-4">
    <button
      class="btn btn-primary"
      (click)="onCreateServer()"
    >
      &nbsp; Add server &nbsp;<i class="fa fa-plus-circle"> </i>
    </button>
  </div>
</div>

<app-server
  *ngFor="let server of servers"
  [server]="server"
  (removeServer)="RemoveServer($event)"
></app-server>


