<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-primary">Servers management</h1>
      <hr>
    </div>
  </div>
  <div class="row container">
    <div class="col-xs-6">
      <app-servers></app-servers>
    </div>
    <div class="col-xs-6">
      <app-alerter></app-alerter>
    </div>
  </div>
</div>
