<p>
  <a
    [ngStyle]="{color: this.server.status ? '#ad6' : '#ccc'}"
    (click)="ChangeStatus()"
  >
    <i class="fa fa-toggle-off"
       [ngClass]="{'fa-toggle-on': server.status === true}"></i></a>

  <span [ngClass]="{'text-muted': server.status === false}">
    {{server.name}}
    <a [hidden]="server.status">
      <i class="fa fa-remove text-danger"
         (click)="RemoveIt()"
         style="opacity:0.6;"
         onmouseover="style='opacity:1;'"
         onmouseout="style='opacity:0.6;'"></i>
    </a>
  </span>


